.community {
  text-align: center;
  padding: 4rem 0;
}

.community-title {
  font-size: 1.5rem;
  padding-inline: 1rem;
  margin-bottom: 2rem;
  line-height: 1.4;
}


@media only screen and (min-width: 768px) {
  .community-title {
    font-size: 1.8rem;
  }
}